@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 70vw;
    background-color: #131212;
    margin: auto;
}

header {
    width: 100%;
    height: 4vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4vw;
}

header:after {
    content: '';
    background-color: #2c2c2c;
    position: absolute;
    bottom: 0;
    left: -15vw;
    height: 1px;
    width: 100vw;
    margin-left: 0;
}

#headerDiv1 {
    display: flex;
    align-items: center;
    gap: 4vw;
    height: 100%;
}

#logo {
    width: 3vw;
    cursor: pointer;
}

#anchors {
    display: flex;
    gap: 2vw;
    height: 100%;
    align-items: center;
}

.anchorDiv{
    display: flex;
    align-items: center;
    height: 100%;
}

.currentAnchor{
    border-bottom: 3px solid white;
    border-top: 3px solid #FFFFFF00;
}

.currentAnchor a{
    font-weight: bold !important;
}

#anchors a {
    text-decoration: none;
    color: white;
    font-weight: 300;
}

#headerDiv2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

button {
    height: fit-content;
    background: rgb(185, 255, 255);
    background: linear-gradient(45deg, rgb(143, 180, 180) 0%, rgb(5, 122, 122) 100%);
    border: none;
    padding: 0.7vw 0.9vw;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover{
    background: linear-gradient(45deg, rgb(120, 151, 151) 0%, rgb(4, 95, 95) 100%);
}

#user {
    display: flex;
    align-items: center;
    gap: 4vw;
    cursor: pointer;
}

#user svg {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

#user p {
    color: white;
    font-weight: 400;
}

#dropdown {
    width: 1.5vw;
    height: 1.5vw;
}

#userSection {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
}

h2 {
    color: white;
    text-align: center;
}

#tasks {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    text-align: center;
    color: white;
    gap: 3vw;
}

.activities {
    width: 100%;
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    transition: 400ms;
    cursor: pointer;
}

.activities p {
    font-family: 'Raleway', sans-serif !important;
    font-weight: bold;
}

#urgency {
    border: 3px solid rgb(209, 0, 0);
    border-radius: 15px;
}

#urgency:hover {
    background-color: rgb(209, 0, 0);
    color: #131212;
}

#pendency {
    border: 3px solid darkcyan;
    border-radius: 15px;
}

#pendency:hover {
    background-color: darkcyan;
    color: #131212;
}

#finished {
    border: 3px solid #00bf00;
    border-radius: 15px;
}

#finished:hover {
    background-color: #00bf00;
    color: #131212;
}

#worklist {
    background: none;
    width: fit-content;
    border: 2px solid white;
    font-size: 20px;
    padding: 0.5vw 1.5vw;
    font-weight: bold;
    transition: 300ms;
}

#worklist:hover {
    background: white;
    color: #131212;
}

#addTask {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#taskForm {
    width: 50vw;
    height: 60vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #131314;
    border: 1px #222222 solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2vw;
    gap: 1vw;
}

#taskForm p,
#taskForm label {
    color: white;
    font-size: 20px;
    font-family: 'Raleway', sans-serif !important;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

#taskFormSection {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2vw;
}

#taskFormSection div {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.switch {
    width: 2.4vw;
    background-color: white;
    border-radius: 100px;
    height: 1.5vw;
    display: flex;
    position: relative;
    align-items: center;
    transition: 400ms;
    cursor: pointer;
}

input[type='checkbox'] {
    appearance: none;
}

.checkboxLabel {
    width: 1vw;
    height: 1vw;
    border-radius: 100px;
    background-color: #131212;
    z-index: 2;
    position: absolute;
    margin: 0.2vw 0.2vw;
    transition: 400ms;
}

.description {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 0.5vw;
}

.description textarea {
    height: 100%;
}

textarea, input[type='text'] {
    background-color: #ffffff;
    color: black;
    border: 2px #353535 solid;
    resize: none;
    padding: 0.2vw 0.4vw;
    border-radius: 5px;
    font-size: 16px;
}

textarea:focus, input[type='text']:focus, input[type='datetime-local']:focus{
    outline: none;
}

input[type='submit'] {
    font-size: 20px;
    border: none;
    background-color: darkcyan;
    border-radius: 10px;
    padding: 0.5vw 0;
    cursor: pointer;
    transition: 300ms;
    font-weight: bold;
    color: white;
}

input[type='submit']:hover {
    background-color: rgb(0, 109, 109);
}
