@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

:root {
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

#preloader {
    position: absolute;
    z-index: 3;
    height: 100vh;
    width: 100vw;
    background-color: #131212;
    transition: 500ms;
}

#preloader p {
    color: white;
    font-size: 30px;
    position: relative;
    letter-spacing: 20px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-weight: 100;
    transition: 300ms;
    opacity: 100%;
}

#test {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nervePreloading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

#nervePreloading img {
    transform: translateY(100px);
    width: min-content;
    height: min-content;
}

#preloadingLogo {
    transition: 300ms;
    opacity: 0%;
    transition-delay: 300ms;
}

#preloadingTitle {
    transition: 400ms;
    opacity: 0%;
    transition-delay: 600ms;
}

#preloadingText {
    transition: 500ms;
    opacity: 0%;
    transition-delay: 900ms;
}

.showPreloading {
    opacity: 100% !important;
    transform: translateY(0px) !important;
}

* {
    margin: 0;
    padding: 0;
}

header {
    height: 5vw;
    width: 100vw;
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 4;
    transition: 400ms;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 4vw;
    box-sizing: border-box;
}

header img {
    width: 3.5vw;
}

header nav {
    display: flex;
    gap: 1.5vw;
}

header nav a {
    text-decoration: none;
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 1vw;
    transition: 300ms;
}

header nav a:hover {
    color: darkcyan;
}

#loginBtn {
    background-color: #ffffff00;
    border: 1px solid white;
    color: white;
    padding: 0.5vw 1vw;
    border-radius: 1vh;
    font-family: 'DM Sans', sans-serif;
    font-size: 1vw;
    transition: 300ms;
    text-decoration: none;
}

#loginBtn:hover {
    background-color: darkcyan;
    border: 1px solid darkcyan;
    color: white;
    cursor: pointer;
}

main {
    height: 100vh;
    z-index: -1;
}

#bgWrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#bgVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    object-fit: cover;
    z-index: 0;
}

#bgBackdrop {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    background: linear-gradient(#0f0f0f99 0%, #0f0f0f 100%);
}

#logo {
    height: min-content;
    width: min-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#sobre {
    width: 100vw;
    height: fit-content;
    background-color: #0f0f0f;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divTitle {
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    font-size: 4vw;
    opacity: 0%;
    transition: 600ms;
    text-align: center;
}

.divTitleHidden {
    transform: translateY(5vw);
    opacity: 0%;
}

.divTitleShown {
    transform: translateY(0);
    opacity: 100% !important;
}

.divDescription {
    color: #b4b4b4;
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    font-size: 1vw;
    width: 30%;
    margin: 0 auto 5vw;
    opacity: 100%;
    transition: 600ms;
    text-align: center;
    opacity: 0%;
}

.cyan {
    color: darkcyan;
}

#sobreWrapper {
    display: flex;
    justify-content: center;
    gap: 30vw;
    opacity: 0%;
    transition: 600ms;
}

.sobreCards {
    background-color: #131314;
    width: 25vw;
    height: 30vw;
    border: 1px #222222 solid;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.sobreCards p {
    font-family: 'Krona One', sans-serif;
    color: white;
    font-size: 25px;
}

.sobreCards img {
    transition: 500ms;
    height: 6vw;
}

.descriptionDiv {
    transition: 500ms;
    height: 0;
    overflow: hidden;
}

.descriptionDiv p {
    font-size: 1vw;
}

.description {
    transition: 500ms;
    width: 80%;
    margin: auto;
    height: fit-content;
}

.hidden {
    transform: translate(-50%, -150%);
    opacity: 0%;
}

.show {
    transform: translate(-50%, -50%);
    opacity: 100%;
}

#sobre a {
    margin: 3vw 0 7vw;
    padding: 1vw 2vw;
    background-color: #ffffff00;
    border: 1px white solid;
    color: white;
    width: fit-content;
    font-family: 'Krona One', sans-serif;
    border-radius: 2vw;
    transition: 600ms;
    text-decoration: none;
}

#sobre a:hover {
    transition: 300ms;
    background-color: #ffffff;
    color: darkcyan;
    cursor: pointer;
}

#fotos {
    width: 100vw;
    height: fit-content;
    background-color: #0f0f0f;
    position: relative;
    padding-bottom: 7vw;
}

#fotosTitle {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#imagesSlider1,
#imagesSlider2 {
    display: flex;
    gap: 0.5vw;
    opacity: 0%;
    transition: 400ms;
}

#imagesSlider2 {
    margin-top: 0.5vw;
}

#imagesSlider1 .imagesSlider {
    animation: 80s slide infinite linear;
    display: flex;
    flex-wrap: nowrap;
    min-width: fit-content;
    gap: 0.5vw;
}

#imagesSlider2 .imagesSlider {
    animation: 80s slideReverse infinite linear;
    display: flex;
    flex-wrap: nowrap;
    min-width: fit-content;
    gap: 0.5vw;
}

.imagesSlider img {
    height: 13vw;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes slideReverse {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

#faq {
    width: 100vw;
    height: fit-content;
    background-color: #0f0f0f;
    transition: 500ms;
}

#faqsDiv {
    width: 40vw;
    height: 500px;
    margin: auto;
    display: flex;
    gap: 1vw;
    flex-direction: column;
    position: relative;
}

.faqs {
    background-color: #131314;
    border: 1px solid #262626;
    border-radius: 20px;
    padding: 1vw 1vw;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: 500ms;
    position: relative;
}

.faqs:hover {
    background-color: #171617;
}

.faqs button {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    opacity: 0%;
    cursor: pointer;
}

.faqsQuestions {
    font-family: 'DM Sans', sans-serif;
    color: white;
    height: fit-content;
    display: flex;
    box-sizing: border-box;
    transition: 300ms;
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
}

.faqsQuestions span {
    border: 1px solid #666666;
    border-radius: 1000px;
    color: #666666;
    padding: 0.2vw;
    transition: 300ms;
}

.faqsAnswers {
    height: 0px;
    overflow: hidden;
    transition: 500ms;
    color: #b4b4b4;
    font-family: 'DM Sans', sans-serif;
}

#stillQuestion{
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    align-items: center;
    background-color: #0f0f0f;
    padding-bottom: 6vw;
}

#stillQuestion p{
    width: fit-content;
    color: white;
    font-family: 'DM Sans', sans-serif;
}

#stillQuestion a{
    color: darkcyan;
    font-family: 'DM Sans', sans-serif;
}

#stillQuestion a:hover{
    color: rgb(0, 109, 109);
}

footer{
    background-color: #0f0f0f;
    width: 100vw;
    height: fit-content;
    padding-bottom: 5vw;
}

footer p, footer a {
    font-family: 'DM Sans', sans-serif;
}

footer a:visited{
    color: white;
}

#footerInner{
    margin: auto;
    border-top: 1px solid #1C1B1D;
    width: 70vw;
    padding-top: 3vw;
    display: flex;
    justify-content: space-between;
    color: white;
    height: fit-content;
}

#footerLeftSection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
    justify-content: center;
}

#footerLeftSection a{
    color: darkcyan;
}

footer img{
    height: 3vw;
}

#footerRightSection{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    justify-content: space-between;
}

#footerInner div div{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    width: fit-content;
}


